@model IEnumerable<Backend_Cumulative_01.Models.Teacher>

<h1>Teachers</h1>

<form method="GET" action="/TeacherPage/List">
    <div>
        <input type="text" name="SearchKey" /><input type="submit" value="Search" />
    </div>
</form>

@foreach (Teacher teacher in Model)
{
    @* Added styles *@
    <div style="background: #ADD8E6; border: 1pxc;">
        <a href="/TeacherPage/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a>
    </div>
}