<h2>New Teacher</h2>

<form method="POST" action="/TeacherPage/Create">
    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" name="TeacherFname" id="TeacherFname" />
    </div>
    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" name="TeacherLname" id="TeacherLname" />
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" name="EmployeeNumber" id="EmployeeNumber" />
    </div>
    <div>
        <label for="HireDate">Hire Date:</label>
        <input type="text" name="HireDate" id="HireDate" />
    </div>
    <div>
        <label for="Salary">Salary:</label>
        <input type="text" name="Salary" id="Salary" />
    </div>
    <div>
        <input type="submit" value="Add Teacher"/>
    </div>
</form>